/*Подпись к форме*/
h1.name-form, h1.name-list{
    font-size: 25px;
    margin: 20px 0;
    flex: 1;
    text-align: center;
}
div.list{
    padding: 0, 40px;
}
.window-error{
    position: relative;
    width: 300px;
    height: 60px;
     background: rgba(255, 0, 0, 0.4);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
h4.error{
    font-size: 15px;
    color: red;
    text-align: center;
    display: inline-block;
}
span.close{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    color: gray;
    cursor: pointer;
}
span.close:hover{
    color: black;
}
/*Cписок сотруднико*/
div.list-wrapper{
    box-sizing: border-box;
}
div.list{
    margin-bottom: 20px;
    width: 100%;
    padding: 0;
}
.person{
    padding: 10px;

}
div.list:first{
    margin-top: 0;
}
div.list p:not(.d-flex){
    flex: 3;
    padding: 10px;
}
dib.list p.d-flex{
    flex: 1;
    padding: 5px
}
div.list i{
    color: rgb(220, 20, 60);
    transition: all .4s;
    padding: 10px 12px;;
    border-radius: 50%;
    background: white;

}
div.list i:hover{
    color: white;
    background: rgb(220, 20, 60);
}
.person{
    width: 80%;
}
.name{
    text-align:center;
}
#create{
    margin: 15px 0px;
}