{% extends 'base.html' %}
{% load static %}
{% block jsframework %}
<link rel="stylesheet" type="text/css" href="{% static 'css/basket.css'%}">
{% endblock %}
{% block content %}
    <div class="container basket-wrapper">
        {% if items|length > 0%}
        <h2 class="name-page">Корзина <span class="total-price">к оплате: {{summ}}&#8381;</span></h2>
        {% else %}
          <h2 class="name-page">Корзина <span>к оплате: 0&#8381;</span></h2>
        {% endif%}
        {% csrf_token %}
        {% for item in items %}
        <div class="item d-flex justify-content-between align-items-center">
            <p class="item-image"><img class="item-image" src="{{item.item.image.url}}"></p>
            <p class="item-name">{{item.item.name}}</p>
            <p class="total-price">{{item.count}}*{{item.item.price}} = {{item.total}}</p>
            {% if item.is_selected %}
            <input class="select-item" type="checkbox" name="{{item.pk}}" checked>
            {% else %}
            <input class="select-item" type="checkbox" name="{{item.pk}}" >
            {%endif%}
            <p class="trash d-flex justify-content-center align-items-center"><i name="{{item.pk}}" class="fa fa-trash trash-icon" aria-hidden="true" style="width: 30xp;"></i></p>
        </div>
        {%endfor%}
    </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/basket.js' %}"></script>
{% endblock %}