{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center register-wrapper">
         <h3>Регистрация</h3>
        <h6 class="error-message d-none"></h6>
        <form class="d-flex flex-column" id="registration" method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {% for f in form %}
            {{f}}
            {%endfor%}
            <button type="submit" class="reg-button align-self-center">Регистрация</button>
        </form>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}