{% extends 'base.html' %}
{% load static %}
{% block jsframework %}
<link rel="stylesheet" type="text/css" href="{% static 'css/adm.css'%}">
{% endblock %}
{% block content %}
<div class="container-fluid" style="padding: 0; height: 100%;">
    <div class="row g-0" style="height: 70%;">
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <h1 class="name-form">Зарегистрировать работника</h1>
            <h4 class="error d-none"><span class="close">&times;</span></h4>
            <form class="d-flex flex-column justify-content-center align-items-center" id="create" method="POST" action="{% url 'administrator' %}">
                {% csrf_token %}
                {% for f in form %}
                    {{f}}
                {%endfor%}
                <button type="submit" class="reg-button">Добавить</button>
            </form>
        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <h1 class="name-list">Сотрудники</h1>
            <div class="list ">
                {% for employee in employees %}
                    <div class="person">
                        <p class="name">{{employee.name}}</p>
                        <p class="email">{{employee.email}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/adm.js' %}"></script>
{% endblock %}